<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Post_Machine_Intepretator.Syntax" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Post_Machine_Intepretator.Syntax>
            <setting name="AddV" serializeAs="String">
                <value>v</value>
            </setting>
            <setting name="RemV" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>&lt;-</value>
            </setting>
            <setting name="right" serializeAs="String">
                <value>-&gt;</value>
            </setting>
            <setting name="ifer" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="ifer_split" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="ponter_line_split" serializeAs="String">
                <value>:</value>
            </setting>
        </Post_Machine_Intepretator.Syntax>
    </userSettings>
</configuration>